
:root {

    --color-morado-oscuro: #1E032B;
    --color-morado-intenso: #7907AD;
    --color-lila: #9B4DCA;
    --color-lila-claro: #BE7DEB;
    --color-morado-gris: #6B4D7B;
    --color-azul-oscuro: #001E45;
    --color-azul-claro: #0048A3;

}

/* Clases de background */
.bg-degrade {
    background: linear-gradient(to bottom, #1E032B, rgba(94, 13, 134, 0.75));
}


.bg-morado {
    background-color: var(--color-morado-oscuro);
}

.bg-morado-2 {
    background-color: var(--color-morado-intenso);
}

.bg-lila {
    background-color: var(--color-lila);
}

.bg-lila-2 {
    background-color: var(--color-lila-claro);
}

.bg-morado-3 {
    background-color: var(--color-morado-gris);
}

.bg-azul {
    background: linear-gradient(to bottom, #001E45, rgb(0, 72, 163));
}

.bg-azul-2 {
    background-color: var(--color-azul-claro);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card:hover, .img-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.card, .img-hover {
    transition: all 0.3s ease;
}

.contacto-section {
    background-color: var(--color-primary);
}

.texto-color option, li, .texto-color label, strong {
    color: #000000;
}

.seccion-productos {
    background-color: #f5f5f5;
}

.fondo-promo {
    background: url("../imgs/fondos/fondo-promo.webp") no-repeat center;
    background-size: cover;
}

.detalle-caracteristicas-producto {
    background-color: #f5f5f5;
}

.btn-azul {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.btn-azul:hover {
    background-color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.imagen-producto {
    max-height: 450px;
    object-fit: cover;
}

.min-th {
    min-width: 150px;
}

select option {
    padding: 5px;
}

select option:checked {
    background-color: rgba(70, 4, 98, 0.75) !important; /* azul seleccionado */
    color: white !important;
    padding: 8px;
}


select option:hover {
    background-color: #343a40;
    color: #f8f9fa;
}

select[multiple] {
    border: 1px solid #000000; /* borde azul */
    padding: 8px;
}