* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: #fafafa;
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card:hover,.img-hover:hover{
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}
.card, .img-hover {
    transition: all 0.3s ease;
}

